@model Bliss_Programma.Models.Ruimte

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ruimte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Lengte" class="control-label"></label>
                <input asp-for="Lengte" class="form-control" />
                <span asp-validation-for="Lengte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breedte" class="control-label"></label>
                <input asp-for="Breedte" class="form-control" />
                <span asp-validation-for="Breedte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oppervlakte" class="control-label"></label>
                <input asp-for="Oppervlakte" class="form-control" />
                <span asp-validation-for="Oppervlakte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxWerkplekken" class="control-label"></label>
                <input asp-for="MaxWerkplekken" class="form-control" />
                <span asp-validation-for="MaxWerkplekken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocatieId" class="control-label"></label>
                <select asp-for="LocatieId" class="form-control" asp-items="ViewBag.LocatieId"></select>
                <span asp-validation-for="LocatieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
